/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body{
    background-color:  #1f1f21;
    height: 100vh;  
   
}
 

.flex{
    display: flex;
    
}

/* ESTILO DO LOGO */

/* .logo img {
    width: 60px; 
    border-radius: 50%; 
    max-width: 400px;

} */

.interface .logo{
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    transition: .3s;
}


.interface .logo span{
    color: #014496;
    font-size: 50px;
    font-weight: bold;
    transition: .3s;

}



/* ESTILO DO CABEÇALHO */

header{
    padding: 40px 4%;

}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Estilo para o menu de navegação */
header .menu-desktop {
    display: flex;
    justify-content: center; 

}
header .menu-desktop a.active{
    color: #014496; /* Cor do texto quando o link está ativo */
    font-size: 25px; /* Tamanho da fonte */
    border-bottom: 2px solid #014496; /* Adiciona um traço abaixo do link ativo */
    padding-bottom: 4px; /* Espaço entre o texto e o traço */
    text-decoration: none; /* Remove o sublinhado padrão dos links */

}

header .menu-desktop > ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex; 
}

header .menu-desktop > ul > li {
    margin: 0 50px; 
    position: relative; 
}

/* Estilo para links de navegação */
header .menu-desktop a {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 7px;
    text-decoration: none;
    position: relative;
    height: 100%;
    font-weight: bold;
    transition: .3s;
    font-size: 25px;
}

/* Estilo para links de navegação ao passar o mouse */
header .menu-desktop > ul > li:hover > a {
    color: #014496;
    text-decoration: none;
    transform: scale(1.2);
    font-size: 25px;
    
}

/* Estilo para a linha de destaque dos links de navegação ao passar o mouse */
header .menu-desktop > ul > li:hover > a::before {
    content: '';
    display: block;
    height: 2px;
    background: #0352b3;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    visibility: visible;
    scale: 1 1;
    font-size: 25px;
    
}

/* ESTILO MENU MOBILE */

.menu-mobile{
    background-color: #1f1f21;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
    
}

.menu-mobile.abrir-menu{
    width: 60%;
    
}

.menu-mobile.abrir-menu  ~ .overlay-menu{
    display: block;
    
}

.menu-mobile nav ul{
    text-align: right;
    list-style-type: none;
    
}

.menu-mobile nav li a{
    color: #014496;
    font-size: 30px;
    font-weight: 300;
    padding: 20px 10%;
    text-decoration: none;
    display: block;
    transition: .3s;
    
}

.menu-mobile nav li a:hover{
    color: #014496;
    text-decoration: none;
    transform: scale(1.1);
}

.menu-mobile .btn-fechar img{
    margin: 20px;
}

.btn-abri-menu img{
    width: 0%;
}

.overlay-menu{
    background-color: #000000df;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}



/* ESTILO DO BOTÃO DE CONTATO */

/* header .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 700px;
    background-color: #014496;
    color: #ffffff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}


header .btn-contato button:hover{
    box-shadow: 0px 0px 8px #014496;
    transform: scale(1.1);
}

section.formulario{
    padding: 70px 4%;

}

section.formulario h2 {
    color: #ffffff;
    font-size: 30px;
    justify-content: center; 
    display: flex;
}

section.formulario span{
    color: #014496;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input, form textarea{
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #ffffff;
    font-size: 18px;
}

form textarea{
    resize: none;
    max-height: 400px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    background-color: #014496;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px #014496;
    transform: scale(1.1);
} */


/* ESTILO TOPO SITE */

section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site .txt-topo-site .cargo{
    padding: 2px 20px;
    background: linear-gradient(130.08deg, #1f1f21 0%, #014496 100%);
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}

.topo-do-site h1{
    color: #ffffff;
    font-size: 42px;
    line-height: 40px;
    margin: 10px 0;
}

.topo-do-site .txt-topo-site h1 span{
    color: #0352b3;
    
}

.topo-do-site .txt-topo-site p{
    color: #ffffff;
    margin: 10px 0;
    font-size: 18px;
}
.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar-img 2s ease-in-out infinite alternate;
    border-radius: 50%; /* Deixa a imagem circular */
    max-width: 400px;
    height: auto;
}

@keyframes flutuar-img{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

section .btn button{
    display: inline-block;
    padding: 5px 20px;
    font-size: 18px;
    font-weight: 600;
    background-color: #014496;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;


}

section .btn {
    display: flex;
    gap: 15px; 
}

/* section.topo-do-site .txt-topo-site .btn img{
    align-items: center;
    padding: 0 2px;
} */


/* section.topo-do-site .txt-topo-site .btn button:hover{
    box-shadow: 0px 0px 8px #014496;
    transform: scale(1.1);
} */


section button:hover{
    transform: translateY(-5px);
    color: #ffffff;
    background-color: #014496;
    border: 2px solid #ffffff;

}

section.topo-do-site .txt-topo-site p a{
    color: #0352b3;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
}


section.topo-do-site .social-logos {
    margin-top: 20px;
    display: flex;
    gap: 10px; 
    justify-content: left; 

}

section.topo-do-site .txt-topo-site .social-logos img {
    width: 50px; 
    height: auto;
    cursor: pointer;

}

.social-logos img:hover{
    transform: scale(1.3);
    transition: .5s; transition: .5s;
}



/* ESTILO SKILLS */

.skills h2 {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 5px; 
}

section.skills .txt-skills {
    display: flex;
    justify-content: center; 
    width: 100%; 
    max-width: 800px; 
    gap: 10px;
}

section.skills .txt-skills .skill {
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-radius: 5px;
    padding: 5px;
    width: 150px; 
    text-align: center;
}

section.skills .txt-skills .skill img {
    width: 50px; 
    height: auto;
    margin-bottom: 5px; 
    background-color: transparent;
}



section.skills .txt-skills .skill img:hover{
    transform: scale(1.3);
    transition: .3s;
}

section.skills {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    background-color: #2b2b2e; 
    border-radius: 5px;
    padding: 20px;
    width: 80%; 
    max-width: 1300px;
    box-shadow: 0 1px 5px #014496; 
    margin: 0 auto; 
    margin-bottom: 5%;
}

section.skills .txt-skills .skill p {
    font-size: 18px; 
    color: #ffffff; 
    margin: 5px; 
    padding: 0; 
    white-space: nowrap; 
}

section.skills .txt-skills .skill:hover p {
    color: #0352b3; 
    transition: .3s;
}

/* ESTILO PAGINA PORTFOLIO */



section.portfolio h2 {
    color: #ffffff;
    font-size: 50px;
    margin: 50px;
    justify-content: center; 
    display: flex;
}

section.portfolio span{
    color: #014496;
}

section.portfolio .titulo {
    color: #ffffff;
    font-size: 30px;
    margin: 1px;
    padding: 10px;
    justify-content: left; 
    font-weight: bold;
}

section.portfolio .descicao {
    margin: 5px 0;
    padding: 10px;
    color: #ffffff;
    font-size: 20px;
}


section.portfolio .portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

section.portfolio .projetos {
    background-color: #2b2b2e4d;
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    max-width: 1300px;
    position: relative;
    margin: 20px; 
}
section.portfolio .projetos-imagem {
    max-width: 500px; 
}

section.portfolio .tech-logos {
    display: flex;
    position: absolute; 
    top: 20px; 
    right: 10px; 
    align-items: center;
    padding: 0;
}


section.portfolio .btn {
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* Ajustes projeto 02 */

section.portfolio .tech-logos img {
    height: 50px;
    margin-right: 10px;

}
section.portfolio .projetos-imagem-02 {
    width: 500px;
    height: 520px;
}

section.portfolio .projetos .projetos-detalhes h3 {
    color: #ffffff;
    padding: 10px;
    font-size: 25px;
    margin-bottom: 5px; 
}

/* section.portfolio .projetos .projetos-detalhes ul {
     color: #ffffff;
    font-size: 25px;
    margin-top: 0; 
    margin-left: 50px;
    margin-bottom: 70px;
} */

/* section.portfolio .descicao-02 {
    margin: 5px 0;
    padding: 10px;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 175px;
} */



section.portfolio .btn {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 0px;
    
}



/* ESTILO PAGINA SOBRE - PORTFOLIO PREVIEW */

section.portfolio-preview h2 {
    color: #ffffff;
    font-size: 35px;
    margin: 10px;
    justify-content: center; 
    display: flex;
}

section.portfolio-preview span{
    color: #014496;
}


section.portfolio-preview {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha horizontalmente ao centro */
    justify-content: center; /* Alinha verticalmente ao centro */
    height: 70vh; /* Altura total da viewport para centralizar verticalmente */
    padding: 20px; /* Adiciona algum espaçamento ao redor do conteúdo */
    box-sizing: border-box; /* Inclui o padding na largura total */

}

section.portfolio-preview .container-maior {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%; /* Ajuste a largura conforme necessário */
    max-width: 1200px; /* Limite máximo para a largura */
    position: relative;
    padding: 20px; /* Espaço interno da caixa maior */
    background-color: #2b2b2e4d; /* Cor de fundo para a caixa maior */
    border-radius: 10px; /* Bordas arredondadas para a caixa maior (opcional) */
}

section.portfolio-preview .portfolio-container-wrapper {
    overflow: hidden; /* Esconde os projetos que estão fora da visualização */
    width: 100%; /* Ajusta a largura para ocupar todo o espaço disponível */
    position: relative;
}

section.portfolio-preview .nav-button {
    background-color: #014496;
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(1,1);
    z-index: 1;
    font-size: 24px;
    transition: .2s;

}

section.portfolio-preview .left-nav {
    left: -50px; 
    top: 15vh; 
}

section.portfolio-preview .right-nav {
    right: -50px;
    top: 15vh; 
}

section.portfolio-preview .nav-button:hover {
    background-color: #013369;
}


section.portfolio-preview .projetos {
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    max-width: 100%;
    border-radius: 10px; /* Bordas arredondadas para os projetos */
    position: relative;
    height: 350px;
}

section.portfolio-preview .projetos-imagem {
    max-width: 500px; /* Ajusta a largura máxima da imagem */
    width: 100%; /* Faz a imagem ocupar a largura disponível do container */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 10px; /* Bordas arredondadas para a imagem */
}

section.portfolio-preview .projetos-detalhes {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Espaça os elementos verticalmente */
    padding: 10px;
    flex: 1; /* Faz o container de detalhes ocupar o restante do espaço */
}

section.portfolio-preview .titulo {
    color: #ffffff;
    font-size: 24px;
    margin: 0;
    padding: 5px 0;
    font-weight: bold;
}

section.portfolio-preview .descicao {
    margin: 10px 0;
    padding: 5px 0;
    color: #ffffff;
    font-size: 16px;
}

section.portfolio-preview .tech-logos {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    margin-top: 10px;
}

section.portfolio-preview .tech-logos img {
    height: 40px; /* Ajusta a altura dos logos */
    width: auto; /* Mantém a proporção dos logos */
    margin-right: 10px;
}

section.portfolio-preview .btn {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    gap: 5px; /* Espaço entre os botões */
    position: absolute; /* Faz com que o bloco de botões fique posicionado em relação ao container pai */
    bottom: 0; /* Fixa o bloco de botões ao final do container */
    width: 70%; /* Faz com que o bloco de botões ocupe toda a largura do container */
    margin: 0; /* Remove qualquer margem extra */

}



section.portfolio-preview .btn button {
    background-color: #014496;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px; 
    border: 2px solid #ffffff;
    
}


section.portfolio-preview .btn button:hover {
    background-color: #013369;

}


/* Estilo do botão "Ver Todos os Projetos" */
.portfolio-preview .btn-ver-todos {
    margin-top: 20px; /* Espaço acima do botão */
    text-align: center; /* Centraliza o botão horizontalmente */

}

.portfolio-preview .btn-ver-todos button {
    background-color: #014496; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    border: none;
    padding: 10px 20px; /* Espaço interno do botão */
    cursor: pointer;
    border-radius: 5px; /* Bordas arredondadas do botão */
    font-size: 18px; /* Tamanho do texto do botão */
    transition: 0.3s; /* Transição suave para a cor de fundo */
    transform: translateY(1,1);
    border: 2px solid #ffffff;
    
}

.portfolio-preview .btn-ver-todos button:hover {
    background-color: #013369; /* Cor de fundo do botão ao passar o mouse */
    border: 2px solid #ffffff;
}



/* ESTILO RODAPÉ */

.interface .logo-footer{
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
}


.interface .logo-footer span{
    color: #014496;
    font-size: 25px;
    font-weight: bold;

}

.social-logos {
    margin-top: 5px;
}

.social-logos img {
    width: 35px;
    height: auto;
    cursor: pointer;
}

footer{
    padding: 10px 4%;
    margin-top: 10vh;
    box-shadow: 0 0 40px 10px #0144961d;
}

footer .flex{
    justify-content: space-between;
}


.line-footer a {
    margin-top: 0;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

.line-footer  img {
    vertical-align: middle;
    margin-right: 5px;

}

/* ESTILO PAGINA BLOG */
section.posts h2 {
    color: #ffffff;
    font-size: 50px;
    margin: 50px;
    justify-content: center; 
    display: flex;
}
section.posts span{
    color: #014496;
}
section .container {
    background-color: #2b2b2e4d;
    padding: 80px;
    max-width: 1300px;
    width: 1300px; 
    height: 500px; 
    margin: auto; 
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 50px;
}
section .post {
    width: 60%; /* Ajuste o tamanho conforme necessário */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
    
}
section .post h1{
    color: #ffffff;
}
section .image {
    width: 50%; 
}

section .image img {
    max-width: 100%;
    border-radius: 50px 10px;
    margin: 20px;
    margin-bottom: 10px;

}


section .descrição {
    margin-top: 20px;
    color: #ffffff;
    margin-bottom: 20px;
}



/* Estilos gerais para dispositivos maiores (desktop) */
@media screen and (max-width: 1080px) {

    body.no-overflow{
        overflow: hidden;
    }
    /* Header */
    header .interface {
        flex-direction: column;
        align-items: center;
    }
    header .menu-desktop {
        flex-direction: column;
        align-items: center;
        z-index: 99999999;
        width: 100%;
        display: flex;
    }
    header .menu-desktop a {
        font-size: 15px;
    }
    header .menu-desktop a.active{
        color: #014496; /* Cor do texto quando o link está ativo */
        font-size: 15px; /* Tamanho da fonte */
        border-bottom: 2px solid #014496; /* Adiciona um traço abaixo do link ativo */
        padding-bottom: 4px; /* Espaço entre o texto e o traço */
        text-decoration: none; /* Remove o sublinhado padrão dos links */
    
    }
    header .menu-desktop > ul > li {
        margin: 0 25px; 
        position: relative; 
    }


    /* Topo do Site */
    section.topo-do-site .flex {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .topo-do-site h1 {
        font-size: 30px;
        margin: 10px;
    }

    .topo-do-site .txt-topo-site .cargo{
        font-size: 18px;
        margin: 10px;
    }
    .topo-do-site .txt-topo-site p{
        font-size: 15px;
        margin: 10px;
    }

    .topo-do-site .img-topo-site img {
        max-width: 300px;
        margin: 10px;

    } 
    section .btn button{
        font-size: 10px;
        margin: 10px;
    }
    section.topo-do-site .social-logos {
        margin-top: 2px;
        margin: 10px;
    }
    
    section.topo-do-site .txt-topo-site .social-logos img {
        width: 30px; 
    }



    /* Skills */
    section.skills {
        margin-top: 30px;

    }

    section.skills .txt-skills {
        flex-wrap: wrap;
    }

    section.skills .txt-skills .skill {
        width: 80px;
        margin: 0 auto 5px auto;
    }

    section.skills .txt-skills .skill p {
        font-size: 14px;
    }

    /* ESTILO PORTFOLIO */
    section.portfolio .portfolio-container {
        flex-direction: column;
        align-items: center;
    }

    section.portfolio .projetos {
        flex-direction: column;
        align-items: center;
        max-width: 90%;
    }

    section.portfolio .projetos-imagem {
        max-width: 100%;
    }
    section.portfolio .projetos-imagem-02 {
        max-width: 100%;
    }

    section.portfolio h2 {
        color: #ffffff;
        font-size: 30px;
        margin: 15px;
        justify-content: center; 
        display: flex;
    }
    
    section.portfolio span{
        color: #014496;
    }

    section.portfolio .btn{
        display: flex;
        justify-content: center;
        gap: 5px;
    }

    section.portfolio .btn button {
        font-size: 16px; 
    }
    

    section.portfolio .tech-logos {
        position: absolute; 
        opacity: 50%;

    }

    section.portfolio .tech-logos img {
        height: 40px; /* Ajusta a altura dos logos */
        width: auto; /* Mantém a proporção dos logos */
        margin-right: 10px;
        display: none;
    }
    
    
    /* RODAPÉ */

    .interface .logo-footer{
        color: #ffffff;
        font-size: 15px;
        text-decoration: none;
    }
    
    
    .interface .logo-footer span{
        color: #014496;
        font-size: 18px;
        font-weight: bold;
    
    }
    
    .social-logos {
        margin-top: 5px;
    }
    
    .social-logos img {
        width: 20px;
        height: auto;
        cursor: pointer;
    }
    

    .line-footer a {
        margin-top: 0;
        font-size: 10px;
        color: #ffffff;
    }
    
    .line-footer  img {
        vertical-align: middle;
        margin-right: 2px;
        width: 20px;
    }
    
    /* PORTFOLIO PREVIEW */
    section.portfolio-preview{
        display: none;
    }
    

    /* ESTILO PAGINA BLOG */

    section .container {
        padding: 5px;
        width: 100%; 
        max-width: 1300px;
        width: auto; 
        height: auto; 
        margin: auto;
        display: flex;
        margin-bottom: 50px;
        align-items: center; /* Centraliza o conteúdo horizontalmente */
        border-radius: 10px;
        background-color: #2b2b2e4d;
        flex-direction: column-reverse;
    }
    
    section .post {
        width: 80%; /* Ajuste a largura conforme necessário */
        margin-top: 20px;
    }
    
    section .image {
        width: 100%; 
        text-align: center; 
        margin-bottom: 20px; 

    }
    
    section .image img {
        max-width: 300px;
        border-radius: 5px;
    }
    
    section .descrição {
        margin-top: 10px;
        color: #ffffff;
    }
    
    section.posts h2 {
        color: #ffffff;
        font-size: 30px;
        margin: 15px;
        justify-content: center; 
        display: flex;
    }

    section.posts .post h1 {
        font-size: 25px;
        margin: 20px auto;
    }


}

